<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wso2.wastaanalytics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.nfc" />

    <!--In order to support Android Beam -->
    <uses-sdk android:minSdkVersion="16"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WebViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NFCReceiver"
            android:label="NFC Receiver">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

    </application>

</manifest>